  <form>
     <tr *ngFor="let t of temparr;">
        <!-- <mat-form-field>
        <label>Brand Name:</label>{{t.brandname}}<br>
      </mat-form-field> -->
        <!-- <label>Car id </label> {{t.carid}}   -->
        <!-- <mat-form-field> -->
        <!-- <input matInput  placeholder="What's your carid?" [ngModel]="t.carid" > -->
        <!-- </mat-form-field> -->
        <button mat-raised-button (click)="editDialog(t.carid)">Pick one</button>
     </tr>
     </form> 
    <!-- <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field><br> -->
    <!-- <mat-form-field> -->
      <!-- <mat-icon (click)="edit(t.carid)"></mat-icon>
      <button mat-raised-button (click)="openDialog(t.carid)">Pick one</button> -->
      <!-- <input matInput [(ngModel)]="carid" placeholder="What's your carid?"> -->
      
      
    <!-- </mat-form-field><br> -->
    <ol>
      <li>  
  </li>
  <li>
    <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol> 
















<!-- <p>
  buyer works!
</p> -->
<!-- <table border="1">
  <tr>
    <th>Car ID</th>
    <th>Brand name</th>
    <th>Model name</th>
    <th>Year</th>
    <th>Car Reg. State</th>
    <th>Km Driven</th>
    <th>Get Price</th>
    <th>Car Image</th>
  </tr>
  <tr *ngFor="let t of temparr">
    <td>{{t.carid}}</td>
    <td>{{t.brandname}}</td>
    <td>{{t.modelname}}</td>
    <td>{{t.year}}</td> 
    <td>{{t.carstate}}</td>
    <td>{{t.kmdriven}}</td>
    <td>{{t.carprice}}</td>
    <td><img src={{t.carimage}}></td>
  </tr>
</table> -->

  