<h2 style="text-align: center;">Update CarDetails</h2>
<mat-dialog-content>
<div class="form-row">
  <div class="col-md-12 form-group">
  <label>CarID</label>
  <input type="text" name="carid" [(ngModel)]="obj.carid" class="form-control">
  </div>
</div>
<div class="form-row">
  <div class="col-md-12 form-group">
  <label>Brand Name</label>
  <input type="text" name="brandname" [(ngModel)]="obj.brandname" class="form-control">
  </div>
</div> 
<div class="form-row">
  <div class="col-md-12 form-group">
  <label>ModelName</label>
  <input type="text" name="modelname" [(ngModel)]="obj.modelname" class="form-control">
  </div>
</div>
<div class="form-row">
  <div class="col-md-12 form-group">
  <label>Fuel Type</label>
  <select class="form-control" name="type"  [(ngModel)]="obj.type" #type="ngModel" required ngModel>
      <option>Choose..</option>
      <option value="Pertrol" selected="">Petrol</option>
      <option value="Disel">Diesel</option>
    </select>
  </div>
</div>
<div class="form-row">
  <div class="col-md-12 form-group">
  <label>Seaters</label>
  <input type="number" name="seaters" [(ngModel)]="obj.seaters" class="form-control">
  </div>
</div>
<div class="form-row">
  <div class="col-md-12 form-group">
  <label>Per Day Rate</label>
  <input type="text" name="perkmrate" [(ngModel)]="obj.perkmrate" class="form-control">
  </div>
</div> 
<!-- <div class="form-row">
  <div class="col-md-12 form-group">
  <label>Image</label>
   <img src="obj.carimage" type="text" name="carimage">{{obj.carimage}}
  <input type="file" #image accept="image/*" name="carimage" [(ngModel)]="obj.carimage" (change)="onFileSelected($event.target.files)" required>
  </div>
</div> -->
 <div class="form-row">
  <div class="col-md-12 form-group">
      <button (click)="updatecars()" class="btn btn-primary">Update</button>
  </div>
</div> 
</mat-dialog-content>
<button mat-button (click)="onNoClick()" style="float:right;">Cancel</button>
