<!-- <p>
  adminrent works!
</p> -->
<div class="container">
  <!-- <div style="float:right;">
      <button mat-button (click)="openDialog()" class="btn btn-info">Add Car Details</button>
  </div> -->
<br>
<table class="table table-bordered">
  <tr>
    <th>Index</th>
    <th>Car ID</th>
    <th>Brand Name</th>
    <th>Model name</th>
    <th>Per KM Rate</th>
    <th>Type</th>
    <th>Seaters</th>
    <th>Car Image</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let e of temparr;let i=index;">
    <td>{{i}}</td>
    <td>{{e.carid}}</td>
    <td>{{e.brandname}}</td>
    <td>{{e.modelname}}</td>
    <td>{{e.perkmrate}}</td>
    <td>{{e.type}}</td>
    <td>{{e.seaters}}</td>
    <td><img src="{{e.carimage}}" style="height:100px;width:100px;"></td>
    <td><button class="btn btn-success">Edit</button>&nbsp; <button class="btn btn-danger">Delete</button></td>
  </tr>
</table>
</div>
<div class="footer">
  <p>Footer</p>
</div>