<!-- <p>
  allcardetails works!
</p> -->
<app-admintopbar></app-admintopbar>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/carlogo4.jpg" style="width:55px;height:40px;"class="aa"></a>
 
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/AllCardetails']" routerLinkActive="active">AllCarDetails</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/Addcar']" routerLinkActive="active">Addcar</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/adminsidebooking']" routerLinkActive="active">adminsidebooking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="adminLogout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> -->

<div class="container">
    <h2 style="text-align: center;font-style:initial">All Car Details</h2>
    <app-child [all]="getAll()" [Audi]="getAudi()" [Maruti]="getMaruti()" (childevent)="radioselected=$event"></app-child>
<table  class="table table-bordered">
  <tr>
    <th>Car id</th>
    <th>Brand name</th>
    <th>Model name</th>
    <th>Car type</th>
    <th>Seaters</th>
    <th>Rate rent</th>
    <th>Image</th>
    <th colspan="2">Action</th>
  </tr>
  <ng-container *ngFor="let e of temparr;let i=index;">
  <tr *ngIf="e.brandname===radioselected || radioselected==='all' && e.flag==0">
    <td>{{e.carid}}</td>
    <td>{{e.brandname}}</td>
    <td>{{e.modelname}}</td>
    <td>{{e.type}}</td>
    <td>{{e.seaters}}</td>
    <td>{{e.perkmrate}}</td>
    <td><img src="{{e.carimage}}" style="height:150px;width:150px;" class="aa"></td>
    <td><button mat-raised-button (click)="openDialog(e.carid)" class="btn btn-success">Update</button></td>
    <td><button (click)='delete(i)' class="btn btn-danger">Delete</button></td>
  </tr>
</ng-container>
</table>
</div>