 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/carlogo4.jpg" style="width:55px;height:40px;"class="aa"></a>
 
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/AllCardetails']" routerLinkActive="active">AllCarDetails</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/Addcar']" routerLinkActive="active">Addcar</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/adminsidebooking']" routerLinkActive="active">Adminsidebooking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="adminLogout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>  
<!--<app-admintopbar></app-admintopbar>-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h4 class="card-title mt-2">Add Car Details</h4>
        <hr>
        <article class="card-body">
          <!-- <form [formGroup]="rentcaradd">  -->
          <form>
            <div class="form-row">
              <!-- <div class="col form-group"> -->
              <label>Car ID</label>
              <input type="text" class="form-control" name="carid" [(ngModel)]="model.carid" #carid="ngModel" required
                ngModel>
              <small *ngIf="carid.hasError('required') && carid.touched" class="error">Please Enter Carid</small>
            </div>
            <!-- <div class="col form-group"> -->
            <div class="form-row">
              <label>Brand name </label>
              <input type="text" class="form-control" name="brandname" [(ngModel)]="model.brandname"
                #brandname="ngModel" required ngModel>
              <small *ngIf="brandname.hasError('required') && brandname.touched" class="error">Please Enter
                Brandname</small>
              <!-- </div>  form-group end.// -->
            </div>
            <div class="form-row">
              <label>Model name</label>
              <input type="text" class="form-control" name="modelname" [(ngModel)]="model.modelname"
                #modelname="ngModel" required ngModel>
              <small *ngIf="modelname.hasError('required') && modelname.touched" class="error">Please Enter
                Modelname</small>
            </div> <!-- form-group end.// -->
            <!-- form-row end.// -->
            <div class="form-group">
              <label>Fuel Type</label>
              <select id="inputState" class="form-control" name="type" [(ngModel)]="model.type" #type="ngModel" required
                ngModel>
                <option>Choose..</option>
                <option value="Pertrol" selected="">Petrol</option>
                <option value="Disel">Diesel</option>
              </select>
              <small *ngIf="type.hasError('required') && type.touched" class="error">Please Select Fuel Type</small>
            </div> <!-- form-group end.// -->
            <div class="form-group">
              <label>Seaters</label>
              <input type="number" class="form-control" placeholder="Seaters" name="seaters" [(ngModel)]="model.seaters"
                #seaters="ngModel" required ngModel>
              <small *ngIf="seaters.hasError('required') && seaters.touched" class="error">Please Enter Number of
                Seaters</small>
            </div> <!-- form-group end.// -->
            <div class="form-group">
              <label>Rent rate</label>
              <input class="form-control" type="text" name="perkmrate" [(ngModel)]="model.perkmrate"
                #perkmrate="ngModel" required ngModel>
              <small *ngIf="perkmrate.hasError('required') && perkmrate.touched" class="error">Please Enter Rent
                rate</small>
            </div>
            <div class="form-group">
              <!-- <div class="col form-group"> -->
              <label>Flag</label>
              <select class="form-control" name="type" [value]='0' [(ngModel)]="model.flag" required>
                <option value="0" checked>0</option>
                <option value="1">1</option>
              </select>
            </div>
            <div class="form-group">
              <label>Car Image</label>
              <input type="file" #image accept="image/*" name="carimage" (change)="onFileSelected($event.target.files)"
                required>
              <small *ngIf="carimage.hasError('required') && carimage.touched" class="error">Please Select Image</small>
              <!-- <input type="text" class="form-control" formControlName="carimage">   -->
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" (click)="addcar()"> Add </button>
            </div> <!-- form-group// -->
          </form>

        </article>
      </div>
      <!--card.// -->
    </div> <!-- col.//-->

  </div>
</div>