<app-usertopbar></app-usertopbar>    
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="/assets/image6.jpg">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-container">
                <h3 style="text-align: center">Login</h3>
                <form class="form-signin" >
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" id="inputEmail" #email="ngModel" class="form-control" placeholder="Email address" name="emailid" [(ngModel)]="logindata.emailid" pattern="[a-zA-Z0-9]+@[a-zA-Z]+[.][a-zA-Z]+[.][a-zA-z]" required>
                    <small *ngIf="email.hasError('required') && email.touched" class="error">Emailid is required </small>
                    <small *ngIf="email.hasError('pattern')">Emailid is not valid</small>
                    <input type="password" id="inputPassword"  #password="ngModel" class="form-control" placeholder="Password" name="password" [(ngModel)]="logindata.password" required>
                    <small *ngIf="password.hasError('required') && password.touched" class="error">Password is required </small>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="Login()">Sign in</button>
                </form><!-- /form -->
                <a [routerLink]="['/Register']" class="forgot-password">
                    Create an account?
                </a>
            </div><!-- /card-container -->
        </div><!-- /container -->
    </div>
</div>
