<!-- <p>
  example works!
</p> -->
<!-- <table>
    <tr>
      <td>{{obj.carid}}</td>
      <td>{{obj.brandname}}</td>
    </tr>
  </table> -->
  <!-- {{obj| json}} -->
  <!-- Name:<input type="text" name='carid' [(ngModel)]="obj.carid"><br>
Brandname:<input type="text" name='brandname' [(ngModel)]="obj.brandname"><br>

<button (click)="save()">modify</button>  -->

<app-usertopbar></app-usertopbar>  
<div class="container">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
              <div class="form-row">
                <div class=" form-group col-md-6">
                    <label>Car id:</label>
                    <input type="text" name='carid' [(ngModel)]="obj1.carid" class="form-control" disabled>
                </div>
                <div class=" form-group col-md-6">
                    <label>Brand Name:</label>
                    <input type="text" name='brandname' [(ngModel)]="obj1.brandname" class="form-control" [disabled]='true'>
                </div>
              </div>
              <div class="form-row">
                  <div class=" form-group col-md-6">
                      <label>Full Name:</label>
                      <input type="text" name='carid' [(ngModel)]="obj1.name" class="form-control">
                  </div>
                  <div class=" form-group col-md-6">
                      <label>Email ID:</label>
                      <input type="text" name='email' [(ngModel)]="obj1.emailid" class="form-control">
                  </div>
              </div>
       
              <div class="form-row">
                <div class=" form-group col-md-6">
                    <label>Gender:</label><br>  
                    <input type="radio" name='gender' [(ngModel)]="obj1.gender"  value="male">Male
                    <input type="radio" name='gender' [(ngModel)]="obj1.gender"  value="female">Female
                </div>
                <div class=" form-group col-md-6">
                    <label>Mobile Number:</label>
                    <input type="text" name='mobno' [(ngModel)]="obj1.mobno" class="form-control">
                </div>
              </div>
              <div class="form-row">
                  <div class=" form-group col-md-6">
                      <label>From Date</label><br>  
                    <input matInput [matDatepicker]="myDatePicker" [min]='minDate' name='todate' [(ngModel)]="obj1.todate" class="form-control">
                    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #myDatePicker></mat-datepicker>
                     <!-- <input type="date" name='todate' [(ngModel)]="obj1.todate" class="form-control" id="datepicker1"> -->
                  </div>
                  <div class=" form-group col-md-6">
                      <label>To Date:</label>
                      <input matInput [matDatepicker]="myDatePicker1" [min]='minDate' name='fromdate' [(ngModel)]="obj1.fromdate" class="form-control" >
                      <mat-datepicker-toggle [for]="myDatePicker1" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker1></mat-datepicker>
                      <!-- <input type="date" name='fromdate' [(ngModel)]="obj1.fromdate" class="form-control"> -->
                  </div>
                </div>
              <div class="form-row">
                  <div class=" form-group col-md-6">
                      <label>City:</label>
                      <select class="form-control" name='city' [(ngModel)]="obj1.city">
                          <option> Choose...</option>
                        <option value="Nashik" selected="">Nashik</option>
                        <option value="Pune">Pune</option>
                        <option value="Mumbai">Mumbai</option>
                      </select>
                  </div>
                  <div class=" form-group col-md-6">
                      <label>Aadhar Card Id:</label>
                      <input type="text" name='aadharcardid' [(ngModel)]="obj1.aadharcardid" class="form-control">
                  </div>
              </div>   
              <div class="form-row">
                  <div class=" form-group col-md-4">
                      
                    </div>
                  <div class=" form-group col-md-4">
                      <button (click)="save()" class="btn btn-success form-control">Save</button>
                  </div>
                  <div class=" form-group col-md-4">
      
                  </div>
                </div> 
            </div>
          </div>
      </div>
  <div class="col-md-2"></div>
</div>


</div>



<!-- Name:<input type="text" name='cname' [(ngModel)]="obj.cname"><br>
EmailID:<input type="text" name='email' [(ngModel)]="obj.emailid"><br>
Gender:<input type="text" name='gender' [(ngModel)]="obj.gender" value="male">Male <input type="text" name='gender' [(ngModel)]="obj.gender" value="female">Female<br>
Mobile Number:<input type="text" name='mobno' [(ngModel)]="obj.mobno">
City:<input type="text" name='city' [(ngModel)]="obj.city">

<button (click)="save()">save</button>  -->
<!-- <table>
<tr *ngFor="let e of temparr;">
    <td>{{e.carid}}</td>
    <td>{{e.brandname}}</td>
  </tr>
</table>  -->