<!-- <p>
  customerhistory works!
</p> -->
<!-- {{histroydata|json}} 
{{userarr.emailid}}-->
<!-- <ng-container *ngFor="let e of histroydata;">
<tr *ngIf="e.emailid==ab@gmail.com">
<td>{{e.emailid}}</td>
</tr>
</ng-container> -->
<app-usertopbar></app-usertopbar>
<div class="container">
    <h2 style="text-align: center;font-style:initial">History Details</h2>
<table class="table table-bordered">
  <tr>
    <th>Car Number</th>
    <th>Brand Name</th>
    <th>Model Name</th>
    <th>User Name</th>
    <th>From Date</th>
    <th>To Date</th>
  </tr>
  <ng-container *ngFor="let e of histroydata;let i=index">
  <tr *ngIf="e.emailid==userarr.emailid">
    <td>{{e.carid}}</td>
    <td>{{e.brandname}}</td>
    <td>{{e.modelname}}</td>
    <td>{{e.name}}</td>
    <td>{{e.todate}}</td>
    <td>{{e.fromdate}}</td>
    <!-- <td>{{histroydata.emailid}}</td> -->
    <!-- <td>{{histroydata.carid}}</td>
     -->
    </tr>
    </ng-container>
</table>
</div>