<!-- <p>
  adminbookingdetails works!
</p> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/carlogo4.jpg" style="width:55px;height:40px;"class="aa"></a>
 
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/AllCardetails']" routerLinkActive="active">AllCarDetails</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/Addcar']" routerLinkActive="active">Addcar</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/adminsidebooking']" routerLinkActive="active">Adminsidebooking</a>
      </li>
      <li class="nav-item" *ngIf="adminlogin()">
        <a class="nav-link"  [routerLink]="['/Logout']" routerLinkActive="active">Logout</a>
    </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> -->
<app-admintopbar></app-admintopbar>
<div class="container">
  <h2 style="text-align: center;font-style:initial">Car Booking Details</h2>
  <!-- {{userarr|json}} -->
<table class="table table-bordered">
  <tr>
    <th>Car id</th>
    <th>Brand Name</th>
    <th>Model Name</th>
    <th>Customer Name</th>
    <th>From</th>
    <th>To</th>
    <!-- <th colspan="2">Action</th> -->
  </tr>
  <ng-container *ngFor="let e of temparr;let i=index;">
  <tr *ngIf="e.flag==01">
  <td>{{e.carid}}</td>
  <td>{{e.brandname}}</td>
  <td>{{e.modelname}}</td>
  <td>{{e.name}}</td>
  <td>{{e.todate|date:'dd/MM/yyyy'}}</td>
  <td>{{e.fromdate|date:'dd/MM/yyyy'}}</td> 
  <!-- <td><a [routerLink]="['/Carsreadd',e.carid]" class="btn btn-success">Add</a></td> -->
  <!-- <td><a [routerLink]="['/bill',e.carid]" class="btn btn-primary">Bill</a></td> -->
  <!-- <td><a (click)="carsreadd(i)">Delete</a></td> -->
  </tr>
</ng-container>
</table> 
</div>