<!-- <p>
  rentc works!
</p> -->
<app-usertopbar></app-usertopbar>
<div class="container">
    <h2 style="text-align: center;font-style:initial;color:peru;">Rent Car Details</h2>
    <!-- Name:<input type="text" name='carid' [(ngModel)]="data1.carid"><br>
    Position:<input type="text" name='brandname' [(ngModel)]="data1.brandname"><br>
    <button (click)="modify()">modify</button> -->
    <ng-container *ngFor="let t of temparr;let i=index">
    <div class="panel panel-default" *ngIf="t.flag==0" >
       <div class="panel-body">
         <div class="row">
           <div class="col-md-2" >
             <figure>
                <img src="{{t.carimage}}" class="figure-img img-fluid rounded buyerimg">
             </figure>   
           </div>
           <div class="col-md-10" >
            <label><strong>Car id:</strong></label> {{t.carid}} <br>
            <label><strong>Brand Name:</strong></label>{{t.brandname}}<br>
             <label><strong> Seaters:</strong></label>{{t.seaters}}<br>
             <label><strong>Charges:</strong></label>{{t.perkmrate}}<br>
             <label><strong>Car Type:</strong></label>{{t.type}}<br>
             
             <!-- <a (click)='edit(i)'>edit</a>&nbsp; -->
             <a [routerLink]="['/Example',t.carid]" class="btn btn-success" style="float:right;">On Rent</a>
              <!-- <a (click)='delete(i)'>delete</a> -->
             
           </div>
   
         </div>
       </div>
       <hr>
     </div> 
     </ng-container>
     

     </div>

