<!-- <div class="container"> -->
  <mat-dialog-content class="mat-typography">
  <div class="row justify-content-center">
  <div class="col-md-6">
  <div class="card">   
    <h4 class="card-title mt-2">Add Car Details</h4>
  <hr>
  <article class="card-body">
  <form [formGroup]="sellcarform" >  <!--novalidator (ngSubmit)="save()" -->
    <div class="form-row">
        <!-- <div class="col form-group"> -->
            <label>Car ID</label>
              <input type="text" class="form-control"  formControlName="carid">
          <!-- </div> -->
      <!-- <div class="col form-group"> -->
        <label>Brand name </label>   
          <input type="text" class="form-control"  formControlName="brandname">
     <!-- </div>  form-group end.// -->
      <div class="col form-group">
        <label>Model name</label>
          <input type="text" class="form-control"  formControlName="modelname">
      </div> <!-- form-group end.// -->
    </div> <!-- form-row end.// -->
    <div class="form-group">  
      <label>Year</label>
      <input type="text" class="form-control" placeholder="" formControlName="year">
      <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div> <!-- form-group end.// -->
    <div class="form-group">
        <label>Car Reg. State</label>
        <select id="inputState" class="form-control" formControlName="carstate">
          <option> Choose...</option>
            <option>Maharashtra</option>
            <option>Goa</option>
            <option selected="">Kolkatta</option>
            <option>Delhi</option>
            <option>UP</option>
        </select>
        
    </div> <!-- form-group end.// -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Km Driven</label>
        <!-- <input type="text" class="form-control" formControlName="city"> -->
        <select id="inputState" class="form-control" formControlName="kmdriven">
          <option> Choose...</option>
            <option>Up to 10000 km</option>
            <option>10000 -20000 km</option>
            <option selected="">20000 - 40000 km</option>
            <option>40000 - 60000 km</option>
            <option>60000 - 100000 km</option>
            <option>Above 100000 km</option>
        </select>
      </div> 
    </div> <!-- form-row.// -->
    <div class="form-group">
      <label>Get Price</label>
        <input class="form-control" type="text" formControlName="carprice">
    </div> <!-- form-group end.// -->  
    <div class="form-group">
        <label>Car Image</label>
          <input class="form-control" type="file" formControlName="carimage">
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="addcar()"> Register  </button>
      </div> <!-- form-group// -->      
      
      <!-- <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                           -->
  </form>
  </article> <!-- card-body end .// -->
  <!-- <div class="border-top card-body text-center">Have an account? <a [routerLink]="['/Login']">Log In</a></div> -->
  </div>  <!--card.// -->
  </div> <!-- col.//-->
  
  </div>  
  
</mat-dialog-content>
 <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions> 