<!-- <p>
  admin works!
</p> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/carlogo4.jpg" style="width:55px;height:40px;"class="aa"></a>
   
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/AllCardetails']" routerLinkActive="active">AllCarDetails</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/Addcar']" routerLinkActive="active">Addcar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/adminsidebooking']" routerLinkActive="active">adminsidebooking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="adminLogout()" routerLinkActive="active">Logout</a>
      </li>
      </ul>
    </div>
</nav>
  <router-outlet></router-outlet>