<p>
  carsreadd works!
</p>
<!-- <table>
  <tr *ngFor="let e of obj;">
    <td>{{e.carid}}</td>
    <td>{{e.brandname}}</td>
  </tr>
</table> -->
{{obj|json}}
carid<input type="text" name="carid"  [(ngModel)]="obj.carid"><br>
Brandid<input type="text" name="brandname" [(ngModel)]="obj.brandname"><br>
Model name<input type="text" name="modelname" [(ngModel)]="obj.modelname"><br>
Type<input type="text" name="type" [(ngModel)]="obj.type"><br>
Seaters<input type="text" name="seaters" [(ngModel)]="obj.seaters"><br>
Per km rate<input type="text" name="perkmrate" [(ngModel)]="obj.perkmrate"><br>
<button (click)="Add()">ADD Details</button>