
<!-- {{data1|json}} -->
<app-usertopbar></app-usertopbar>
<div class="container">
<h2 style="text-align: center;">Customer Bill</h2>
<table class="table table-bordered">
  <tr>
    <td>Customer Name:</td> <td>{{data1.name}} <input type="text" name="name" [(ngModel)]="data1.name" hidden></td>
  </tr>
  <tr>
    <td>Car Brand Name:</td><td>{{data1.brandname}} <input type="text" name="brandname" [(ngModel)]="data1.brandname" hidden> </td>
  </tr>
  <tr>
    <td>Car Model Name:</td><td>{{data1.modelname}}</td>
  </tr>
  <tr>
    <td>Car Rate:</td><td>{{data1.perkmrate}} </td>
  </tr>
  <tr>
      <td>Rent Days:</td><td>{{obj}}</td>
    </tr>
  <tr>
    <td>Total bill is:</td><td><strong>{{data1.perkmrate*obj}}</strong></td>
  </tr>
  <tr>
    <td colspan="2"><button class="btn btn-primary" (click)="pay(data1.carid)">Submit</button> </td>
  </tr>
</table>
<!-- {{data1.carid}} -->
</div>