<!-- <ol> 
   <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li> -->
  <!-- <li> -->
    <button mat-button (click)="openDialog()">Add Car Details</button>
  <!-- </li>
  
</ol> -->

<div class="container">
  <table border="1">
    <tr>
      <th>Car ID</th>
      <th>Brand name</th>
      <th>Model name</th>
      <th>Year</th>
      <th>Car Reg. State</th>
      <th>Km Driven</th>
      <th>Get Price</th>
      <th>Car Image</th>
    </tr>
    <tr *ngFor="let t of temparr">
      <td>{{t.carid}}</td>
      <td>{{t.brandname}}</td>
      <td>{{t.modelname}}</td>
      <td>{{t.year}}</td> 
      <td>{{t.carstate}}</td>
      <td>{{t.kmdriven}}</td>
      <td>{{t.carprice}}</td>
      <td><img src={{t.carimage}}></td>
    </tr>
  </table>

  
  </div> 

  