<h1 mat-dialog-title>Hi {{data.name}}
</h1>
carid is: {{data.carid}}  
<mat-form-field>
    <input matInput [(ngModel)]="data.carid">
</mat-form-field>
<!-- <div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div> -->
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
