<!-- <p>
  addrentdetails works!
</p> -->
<mat-dialog-content class="mat-typography">
  
<div class="row justify-content-center">
  <div class="col-md-6">
  <div class="card">   
    <h4 class="card-title mt-2">Add Car Details</h4>
  <hr>
  <article class="card-body">
  <!--<form  >  novalidator (ngSubmit)="save()"  [formGroup]="rentcaradd"-->
    <div class="form-row">
        <!-- <div class="col form-group"> -->
            <label>Car ID</label>
            <mat-form-field>
              <input type="text" class="form-control" name="carid" [(ngModel)]="model.carid">
             </mat-form-field> 
    </div>         
          <!-- </div> -->
      <!-- <div class="col form-group"> -->
    <div class="form-row">    
        <label>Brand name </label>
        <mat-form-field>   
          <input type="text" class="form-control"  name="brandname" [(ngModel)]="model.brandname">
        </mat-form-field>
     <!-- </div>  form-group end.// -->
      <div class="col form-group">
        <label>Model name</label>
        <mat-form-field>
          <input type="text" class="form-control"  name="modelname" [(ngModel)]="model.modelname">
          </mat-form-field>
      </div> <!-- form-group end.// -->
    </div> <!-- form-row end.// -->
    <div class="form-group">  
      <label>Type</label>
      <mat-form-field>
      <select id="inputState" class="form-control" name="type" [(ngModel)]="model.type">
        <option>Choose..</option>
        <option value="Pertrol" selected="">Petrol</option>
        <option value="Disel">Diesel</option>
      </select>
      </mat-form-field>
      <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div> <!-- form-group end.// -->
    <div class="form-group">
        <label>Seaters</label>
        <input type="number" class="form-control" placeholder="" name="seaters" [(ngModel)]="model.seaters">
        
    </div> <!-- form-group end.// -->
    
  <div class="form-group">
    <label>Per Km rate</label>
    <mat-form-field>
      <input class="form-control" type="text" name="perkmrate" [(ngModel)]="model.perkmrate">
      </mat-form-field>
  </div>
    <div class="form-group">
        <label>Car Image</label>
        <mat-form-field>
        <input class="form-control" type="text" name="perkmrate" [(ngModel)]="model.carimage">
        <!-- <input type="text" class="form-control" formControlName="carimage">   -->
        <!-- <input class="form-control" type="file" #image accept="image/*" [(ngModel)]="model.carimage" (change)="onFileSelected($event.target.files)">  -->
        </mat-form-field>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="addcar()"> Add </button>
      </div> <!-- form-group// -->      
      
      <!-- <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                           -->
  <!-- </form> -->
  <!-- </mat-form-field> -->
  </article> <!-- card-body end .// -->
 
  </div>  <!--card.// -->
  </div> <!-- col.//-->
  
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions> 