<!-- <p>
  child works!
  {{all}}
  {{Audi}}
  {{Maruti}}
</p> -->

<!-- <input type="radio" name="r1" value="all" [(ngModel)]="selectedradio" (change)="onSelect()">All({{all}})
<input type="radio" name="r1" value="Audi" [(ngModel)]="selectedradio" (change)="onSelect()">Audi({{Audi}})
<input type="radio" name="r1" value="Maruti" [(ngModel)]="selectedradio" (change)="onSelect()">Maruti({{Maruti}})<br> -->

<label>Select Brandname:</label>
<select name="r1" [(ngModel)]="selectedradio" (change)="onSelect()">
  <option value="all">All</option>
  <option value="Audi">Audi</option>
  <option value="Maruti">Maruti</option>
</select>
