<!-- <p>
  update-cars works!
</p>
{{obj|json}} -->
<!-- Carid:<input type="text" name="carid" [(ngModel)]="obj.carid"><br>
brandname:<input type="text" name="brandname" [(ngModel)]="obj.brandname"><br>
modelname:<input type="text" name="modelname" [(ngModel)]="obj.modelname"><br>
type:<input type="text" name="type" [(ngModel)]="obj.type"><br>
seaters:<input type="text" name="seaters" [(ngModel)]="obj.seaters"><br>
per Day rate:<input type="text" name="perkmrate" [(ngModel)]="obj.perkmrate"><br>
<button (click)="updatecars()">Update</button> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/carlogo4.jpg" style="width:55px;height:40px;"class="aa"></a>
   
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/AllCardetails']" routerLinkActive="active">AllCarDetails</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/Addcar']" routerLinkActive="active">Addcar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/adminsidebooking']" routerLinkActive="active">adminsidebooking</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
<div class="container">

<div class="card">   
  <h4 class="card-title mt-2" style="text-align: center">Update Car Details</h4>
<hr>
<article class="card-body">
  <div class="form-row">
      <div class="col-md-12 form-group">
      <label>CarID</label>
      <input type="text" name="carid" [(ngModel)]="obj.carid" class="form-control">
      </div>
  </div>
  <div class="form-row">
      <div class="col-md-12 form-group">
      <label>Brand Name</label>
      <input type="text" name="brandname" [(ngModel)]="obj.brandname" class="form-control">
      </div>
  </div> 
  <div class="form-row">
      <div class="col-md-12 form-group">
      <label>ModelName</label>
      <input type="text" name="carid" [(ngModel)]="obj.modelname" class="form-control">
      </div>
  </div>
  <div class="form-row">
      <div class="col-md-12 form-group">
      <label>Fuel Type</label>
      <select class="form-control" name="type"  [(ngModel)]="obj.type" #type="ngModel" required ngModel>
          <option>Choose..</option>
          <option value="Pertrol" selected="">Petrol</option>
          <option value="Disel">Diesel</option>
        </select>
      </div>
  </div>
  <div class="form-row">
      <div class="col-md-12 form-group">
      <label>Seaters</label>
      <input type="number" name="seaters" [(ngModel)]="obj.seaters" class="form-control">
      </div>
  </div>
  <div class="form-row">
      <div class="col-md-12 form-group">
      <label>Per Day Rate</label>
      <input type="text" name="perkmrate" [(ngModel)]="obj.perkmrate" class="form-control">
      </div>
  </div>
  <!-- <div class="form-row">
      <div class="col-md-12 form-group">
      <label>Image</label>
       <img src="obj.carimage" type="text" name="carimage">{{obj.carimage}}
      <input type="file" #image accept="image/*" name="carimage" [(ngModel)]="obj.carimage" (change)="onFileSelected($event.target.files)" required>
      </div>
  </div> -->
  <div class="form-row">
      <div class="col-md-12 form-group">
          <button (click)="updatecars()" class="btn btn-primary">Update</button>
      </div>
  </div>      
</article>
</div>     

</div>