<!-- <p>
  home works!
</p> -->
<app-usertopbar></app-usertopbar>
<h1 style="text-align: center">Welcome To Car Rent System</h1>
<div class="container">
  <angular-image-slider [images]="imageurl"></angular-image-slider>
</div>