<!-- <p>
  booking works!
</p> -->
<app-usertopbar></app-usertopbar>
<div class="container">
  <h2 style="text-align: center;font-style:initial">Car Booking Details</h2>
  <!-- {{userarr|json}} -->
  <!-- {{billdata|json}} -->
  
<table class="table table-bordered">
  <tr >
    <th>Car id</th>
    <th>Brand Name</th>
    <th>Model Name</th>
    <th>Customer Name</th>
    <th>From</th>
    <th>To</th>
    <th colspan="2">Action</th>
  </tr>
  <tr >
    <td>{{billdata.carid}}</td>
    <td>{{billdata.brandname}}</td>
    <td>{{billdata.modelname}}</td>
    <td>{{billdata.name}}</td>
    <td>{{billdata.todate}}</td>
    <td>{{billdata.fromdate}}</td>
    <td><a [routerLink]="['/bill',billdata.carid]" class="btn btn-primary">Bill</a></td> 
  </tr>
  <!-- <ng-container *ngFor="let e of billdata;let i=index;">
  <tr *ngIf="e.flag==01">
  <td>{{e.carid}}</td>
  <td>{{e.brandname}}</td>
  <td>{{e.modelname}}</td>
  <td>{{e.name}}</td>
  <td>{{e.todate}}</td>
  <td>{{e.fromdate}}</td> 
   <td><a [routerLink]="['/Carsreadd',e.carid]" class="btn btn-success">Add</a></td> -->
  <!-- <td><a [routerLink]="['/bill',e.carid]" class="btn btn-primary">Bill</a></td> -->
  <!-- <td><a (click)="carsreadd(i)">Delete</a></td> 
  </tr>
</ng-container> -->
</table> 
</div>
 