<nav class="navbar navbar-expand-lg navbar-light bg-light" > 
  <a class="navbar-brand" href="#"><img src="assets/carlogo4.jpg" style="width:55px;height:40px;"class="aa"></a>
 
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
     <li class="nav-item active">
       <a class="nav-link"  [routerLink]="['/Home']" routerLinkActive="active">Home </a>
     </li>
     <li class="nav-item" *ngIf="!isLoggedIn()">
       <a class="nav-link"  [routerLink]="['/Login']" routerLinkActive="active">Login</a>
     </li>
     <li class="nav-item" >
         <a class="nav-link"  [routerLink]="['/Rentc']" routerLinkActive="active">Rent Car</a>
       </li>
       <li class="nav-item" *ngIf="isBooking()">
         <a class="nav-link"  [routerLink]="['/Booking']" routerLinkActive="active">Booking</a>
       </li>
       
       <li class="nav-item">
         <a class="nav-link"  [routerLink]="['/customerhistory']" routerLinkActive="active">Customerhistory</a>
       </li>
       <li class="nav-item" *ngIf="isLoggedIn()">
           <a class="nav-link"  [routerLink]="['/Logout']" routerLinkActive="active">Logout</a>
       </li>
   </ul>
 </div>
</nav>