<div class="container">

  <div class="row justify-content-center">
  <div class="col-md-6">
  <div class="card">  
    <h4 class="card-title">Sign up</h4>
  <hr>
  <div class="card-body">
  <form [formGroup]="userform" novalidator (ngSubmit)="save()">
    <div class="form-row">
      <div class="col form-group">
        <label>Name</label>   
          <input type="text" class="form-control" formControlName="name">
          <small *ngIf="userform.get('name').touched && userform.get('name').hasError('required')" class="error">Please Enter Name</small>
      </div> 
    </div> <!-- form-row end.// -->
    <div class="form-group">  
      <label>Email address</label>
      <input type="email" class="form-control" placeholder="" formControlName="emailid">
      <small *ngIf="userform.get('emailid').touched && userform.get('emailid').hasError('required')" class="error">
        Please Enter Email    
      </small>
      <small *ngIf="userform.get('emailid').hasError('pattern')" class="error">
        Email must be a valid email address
      </small>
    </div> <!-- form-group end.// -->
    <div class="form-group">
        <label>Gender</label>&nbsp;&nbsp; 
        <label class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" value="male" formControlName="gender">
        <span class="form-check-label"> Male </span>
        </label>
        <label class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" value="female" formControlName="gender">
          <span class="form-check-label"> Female</span>
        </label>
        <small *ngIf="userform.get('gender').touched && userform.get('gender').hasError('required')" class="error">Please Select Gender</small>
    </div> <!-- form-group end.// -->
    <div class="form-row">
      <div class="col-md-12 form-group">
        <label>City</label>
        <select id="inputState" class="form-control" formControlName="city">
          <option>Nashik</option>
          <option>Pune</option>
          <option>Mumbai</option>
        </select>
        <small *ngIf="userform.get('city').touched && userform.get('city').hasError('required')" class="error">Please Select City</small>
      </div> <!-- form-group end.// -->
    </div>
    <div class="form-row">
      <div class="col-md-12 form-group">
        <label>Country</label>
        <select id="inputState" class="form-control" formControlName="country">
          <option> Choose...</option>
            <option>Uzbekistan</option>
            <option>Russia</option>
            <option selected="">United States</option>
            <option>India</option>
            <option>Afganistan</option>
        </select>
        <small *ngIf="userform.get('country').touched && userform.get('country').hasError('required')" class="error">Please Select Country</small>
      </div> <!-- form-group end.// -->
    </div> <!-- form-row.// -->
    <div class="form-group">
      <label>Password</label>
        <input class="form-control" type="password" formControlName="password">
        <small *ngIf="userform.get('password').touched && userform.get('password').hasError('required')" class="error">
          Please Enter Password
        </small>
        <small *ngIf="userform.get('password').hasError('minLength')" class="error">
          Password must be at least 6 characters
        </small>
    </div> <!-- form-group end.// -->  
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="save()" [disabled]="userform.invalid"> Register  </button>
      </div> <!-- form-group// -->      
      
  </form>
  </div> <!-- card-body end .// -->
  <div class="border-top card-body text-center">Have an account? <a [routerLink]="['/Login']">Log In</a></div>
  </div> <!-- card.// -->
  </div> <!-- col.//-->
  
  </div> <!-- row.//-->
  
  
  </div> 
  <!--container end.//-->
  
  